*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  border: 1px solid #fff;
  padding-block: 5px;
  color: inherit;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: flex;
  gap: 28px;
  inline-size: 100%;
}

.result {
  padding-block-start: 78px;
  inline-size: 100%;
  max-inline-size: 711px;
}

/* -----VIDEO_RESULT------------------------------------------------------------------------------------------------------------------------------------ */

.result__video-container {
  position: relative;
  max-inline-size: 100%;
  max-block-size: 386px;
  block-size: 100%;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* -----SEARCH-FORM------------------------------------------------------------------------------------------------------------------------------------ */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-block-start: 16px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0;
}

.search-form__checkbox-list {
  padding-block-end: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.2;
}

.search-form__label {
  inline-size: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* -----TEXTFIELD------------------------------------------------------------------------------------------------------------------------------------ */

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  padding-inline: 0;
  padding-block: 2px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.2;
  background-color: transparent;
  inline-size: 225px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: #ffffffb2;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  border-radius: 0;
}

.search-form__textfield:focus {
  outline: none;
}

/* -----CHECKBOX------------------------------------------------------------------------------------------------------------------------------------ */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  inline-size: 100%;
  max-inline-size: 212px;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  box-sizing: border-box;
  border: 1px solid #000;
  outline: 1px solid #fff;
  outline-offset: 0;
  background-color: #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox-list .search-form__label-text {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* -----SEARCH-FORM-BUTTON------------------------------------------------------------------------------------------------------------------------------------ */

/* -----CONTENT------------------------------------------------------------------------------------------------------------------------------------ */

.content__details {
  padding-block-start: 2px;
  max-inline-size: 399px;
  inline-size: 100%;
}

.title {
  margin-block-end: 19px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* -----CONTENT-LIST------------------------------------------------------------------------------------------------------------------------------------ */

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2px 2px 0 3px;
  overflow: auto;
  max-block-size: 302px;
  block-size: 100%;
  inline-size: 100%;
}

.content__list-item:not(:last-child) {
  margin-block-end: 28px;
}

.content__card-link {
  display: block;
  margin: 1px;
  text-decoration: none;
  inline-size: 100%;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  block-size: 100%;
  inline-size: 100%;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__video-card-description-container {
  max-inline-size: 175px;
}

/* Антон, я выполнил вашу подсказку с ограничением ширины контейнера с текстом и text-overflow. 
к сожалению, на mac os не отображаются скроллы так, как на windows,
поэтому я и не заметил, что карточки у меня съехали.
еще, к большему сожалению, доступных и работающих эмуляторов отображения на браузерах windows мне не удалось найти, 
кроме плагина для Chrome User-Agent, который работает через раз.
но в тот есдинственный раз я заметил, что при подобном коде контент карточки все равно съезжает влево из-за доп ширины скролла, 
а картинка видео не совпадает с макетом 
менять размеры самого контейнера под размеры скролла вслепую крайне затруднительно, плюс, 
я правильно понимаю, что придется прописывать отдельные стили для отображения на мак ос? */

.content__video-card-title {
  margin-block-start: 3px;
  margin-block-end: 6px;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  color: #fff;
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  object-fit: cover;
  inline-size: 100%;
  max-block-size: 103px;
  max-inline-size: 194px;
  block-size: 100%;
}

.more-button {
  margin: 1px;
  min-inline-size: 100%;
}